:root{
    --primary-color: rgb(32, 10, 155);

}


body{
    margin: 0;
    background-color: aqua;
}
.container{
    background-color: tomato;
    width: 92%;
    height: 100%;
    margin: auto;
}

header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 30%;
}
header > ul {
    display: flex;
    flex-direction: row;
}
header > img{
    width: 100px;
    height: auto;
    margin: 10px;
}

.content{
    background-color: yellow;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.square{
    background-color: green;
    width: 60%;
    height: auto;
    margin: 10px;
    flex: 1;
    box-shadow: unset 5px 5px 10px rgba(0, 0, 0, 0.5);
}